body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 40px;
}

input {
  padding: 8px;
  width: 250px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.concluida {
  text-decoration: line-through;
  color: gray;
}